
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    width: 96%;
    margin: 20px auto;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f99500;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#logo {
    font-size: xx-large;
    color: white;
}

.navbar {
    display: flex;
    gap: 10px;
}

.navbar button {
    padding: 10px 20px;
    background-color: white;
    color: #f99500;
    border: 1px solid #f99500;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navbar button:hover {
    background-color: #ff6600;
    color: white;
}


.carousel {
    width: 100%;
    height: 350px;
    overflow: hidden;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slides img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}


.products-section {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product-card {
    background-color: white;
    padding: 15px;
    width: 270px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
}

.product-card img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-card button {
    padding: 10px 20px;
    background-color: #f99500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #904615;
}


.cart-section {
    margin-top: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: 20px;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-section {
    max-width: 300px;
    margin-bottom: 20px;
  }
  
  .footer-section h3 {
    margin-bottom: 10px;
  }
  
  .footer-section a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    margin-top: 10px;
    border-top: 1px solid #555;
    padding-top: 10px;
  }
  

